/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css2?family=Prompt);
@import url(https://fonts.googleapis.com/css2?family=Open%20Sans);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: black;
$headingColor: #4bc7eb;

$mainFontSize: 42px;
$mainFont: 'Open Sans';
$headingFont: 'Prompt';
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #5d2c7e;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    color: #5d2c7e
}
